@import url("https://fonts.cdnfonts.com/css/gabarito");
*{
    font-family: "Gabarito", sans-serif;
}
/* Agrega un margen superior al contenido para evitar que se oculte detrás del nav */
#content {
    margin-top: 90px; /* Ajusta la altura del nav aquí (debe coincidir con la altura del nav) */
  }
#nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff; /* Cambia el color de fondo a tu preferencia */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    transition: top 0.3s; /* Agrega una transición suave */
  }
  .logo{
    max-width: 45px;
    padding: 0;
    margin-left: 2%;
  }
  .Nomusuari{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 13px;
  }
  
  #nav.hidden {
    top: -60px; /* La altura del encabezado (ajusta según tus necesidades) */
  }

  /* cercador */
  .buscador{
    /* border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 80px; */
    display: flex;
    margin-top: 80px;
    /* border-bottom: 2px solid #969ba2;
    border-top: 2px solid #969ba2; */
  }
  .bus-p{
    text-align: center;
    font-size: 20px;
    padding: 20px;
  }
  .bus-inp{
    border-radius: 15px;
    border: 2px solid #3F7CAC;
  }
  .bus-div{
    margin-top: auto;
    margin-bottom: auto;
  }
  .btn-primary{
    background-color: #3F7CAC !important;
    border-color: #3F7CAC !important;
  }

  .btt{
    width: 100%;
    border-radius: 50px;
  }
  .card-img-top{
    width: 100%;
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;

  }

  .ui-spinner{
    border: none !important;
  }
  .ui-spinner{
    background-color: transparent !important;
  }
  /* .ui-widget-content{
    background-color: transparent !important;
  }  */
  .ui-button{
background-color: transparent !important;
border: none !important;
    
  }
  .ui-button:hover{
    background-color: #3F7CAC !important;
    color: white !important;
  }
  #spinner{
    text-decoration: none;
  }


.btn-link{
  border: none;
  text-decoration: none;
  background-color: transparent;
  color: #3F7CAC;
}
.btn-logout{
  color: red !important;
}
.imgcar{
    border-radius: 15px;
    /* Haz que tenga una sombra de fondo */

}
.hr{
    margin: 0;
    background-color: black;
    border: none;
    height: 1px;
}
.hr2{
    margin: 0;
    background-color: black;
    border: none;
    height: 1px;
    width: 95%;
    margin-left: 2%;
    margin-bottom: 20px;
}
.hr3{
    margin: 0;
    background-color: black;
    border: none;
    height: 1px;
    width: 95%;
    margin-left: 2%;
}
.p{
    margin-left: 2%;
    margin-top: 25px;
}
#carouselExampleDark{
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.col{
  cursor: pointer;
}

.row {
margin: 0 auto;
justify-content: center;
padding: 15px;
}
/* .col{
    margin: 0 auto;
    justify-content: center;
} */
.card{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.btn{
    margin-right: 5px;
}
.search{
    border-radius: 50px;
}
.form-control{
    border-radius: 50px;
}
/* footer */
/* Estilos para el footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer h4 {
    font-size: 18px;
    color: #fff;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer ul a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }
  
  .footer ul a:hover {
    color: #50c878;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #50c878;
  }

  /* Flecha hacia arriba */
  #scrollTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: black;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
  }
  
  #scrollTopButton:hover {
    background: #a7a7a7;
  }
  




/* Do a media screen to 428px */
@media screen and (max-width: 428px) {
    /* CSS específico para pantallas de 428px o menos */
    #nav {
      position: static; /* Cambiar a posición estática (posición normal) */
      top: auto;
    }
    #content {
      margin-top: 0; /* Elimina el margen superior */
    }
    hr{
        margin: 0;
    }
    #carouselExampleDark{
        margin-top: 10px;
    }
  }
  .open-apartment-details:hover {
    transform: scale(1.05); 
    transition: 0.5s;
}
img {
    max-width: 100%;
}

/* finestra modal */

.cont-apt{
  margin-top: 100px;
}
.modal-info{
  margin-top: 15px;
}
#apartment-img{
  border-radius: 15px;
}


/* Admin panel */
.form-select-sm{
  width: 60px !important;
}
h3{
  padding: 20px;
}


/* Footer */
.img-footer{
  width: 5% !important;
}

/* datepicker */
.ui-datepicker {
  width: 300px;
  height: 300px;
  margin: 5px auto 0;
  border-radius: 15px;
  /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);*/
}

  .ui-datepicker table {
      width: 100%;

  }

.ui-datepicker-header {
  background: transparent;
  color: black;

  border-radius: 15px;
}

.ui-datepicker-title {
  text-align: center;
  font-size: 15px;

}

.ui-datepicker-prev {
  float: left;
  cursor: pointer;
  background-position: center -30px;
}

.ui-datepicker-next {
  float: right;
  cursor: pointer;
  background-position: center 0px;
}

.ui-datepicker thead {
  background-color: #f7f7f7;

  /*border-bottom: 1px solid #bbb;*/
}

.ui-datepicker th {
  background-color:white;
  text-transform: uppercase;
  font-size: 8pt;
  color: black;
  /*text-shadow: 1px 0px 0px #fff;*/
  /*filter: dropshadow(color=#fff, offx=1, offy=0);*/
}

.ui-datepicker tbody td {
  padding: 0;
  /*border-right: 1px solid #808080;*/
}

  .ui-datepicker tbody td:last-child {
      border-right: 0px;
  }

.ui-datepicker tbody tr {
  border-bottom: 1px solid black;
}

  .ui-datepicker tbody tr:last-child {
      border-bottom: 0px;
  }

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  /*font-weight: bold;*/
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  /*text-shadow: 1px 1px 0px #fff;*/
  /*filter: dropshadow(color=#fff, offx=1, offy=1);*/
}

.ui-datepicker-calendar .ui-state-default {
    background: transparent;
    color:black;
    height:40px;
    width:40px;
    border: none;

}

.ui-datepicker-calendar .ui-state-hover {
  background: #3F7CAC;
  color: white;
}

.ui-datepicker-calendar .ui-state-active {
  background: #3F7CAC;

  color: #e0e0e0;
  text-shadow: 0px 1px 0px #4d7a85;
  position: relative;
  margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
  background: #D6E4BE;
  color: #000;
}


/*  Do a media screen to 1200px */
@media screen and (max-width: 1200px) {
  .buscador{
    display: block;
  }
  .bus-div{
    display: flex;

  }
  .cercar{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .bus-p{
    margin-left: auto;
    margin-right: auto;
  }
}